<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.base.provider.dal.mapper.UserMapper">


    <select id="selectPageByRoleId" parameterType="string" resultType="user">
        select  *
        from base_user
        where find_in_set(id,(
                        select group_concat(user_id)
                        from rl_user_role
                        where role_Id = #{roleId}))
    </select>

    <select id="selectListByRoleId" parameterType="string" resultType="user">
        select  *
        from base_user
        where find_in_set(id,(
                        select group_concat(user_id)
                        from rl_user_role
                        where role_Id = #{roleId}))
    </select>

    <select id="selectPageNotByRoleId" parameterType="string" resultType="user">
        select *
        from base_user
        where id not in (
            select user_id from rl_user_role where role_Id =#{roleId} )
    </select>

</mapper>
